*{
    margin: 0;
    padding: 0;
}

/*------------------------------------------Header-------------------------------*/

header{
    display: grid;
    grid-template-columns: repeat(6, auto);
    background-color: rgb(192, 124, 255);
    
}

.TitleName{
    grid-column: 2;
}


.icones{
display: flex;
flex-direction: row;
gap: 50px;
grid-column: 6 ;
margin-top: 10px;
}

#img_connexion{
    height: 30px;
    width: 30px;
}

.img_texte_connexion{
    font-size: 0.7rem;
}

#searchbar{
    height: 50px;
    grid-column: 3/5;
    border-radius: 5px;
}

#BlackLine{
    background-color: black;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#TypeOfSport{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    margin-top: 10px;
}

#BonPlan{
    color: red;
}



/*------------------------------------------Body-------------------------------*/
h1{
	display: flex;
	justify-content: center;
}

.offres{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

#Tennis{
	grid-columns: 2/3 ;
    grid-row: 1;
    scale: 0.1;
}

#WilsonNum1{
	grid-columns: 3/4 ;
    grid-row: 1;
    scale: 0.1;
}

#WilsonNum2{
	grid-columns: 4/5 ;
    grid-row: 1;
    scale: 0.1;
}
/*------------------------------------------Footer-------------------------------*/
                                                    
.FooterLeft{
    flex-direction: column;
    justify-content: center;
}

.FootContainer{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 10%;
}

.FooterLeft p{
  padding-top: 10px;
}



.droit{
	display: flex;
    justify-content: center;
      padding-top: 10px;

}


/*Catalogue */
#AllProduct{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
#NameProduct{
   border: solid black 1px; 
    margin: 50px;
}
#NameProduct a {
    text-decoration: none;
    color: black;
}


