*{
    margin: 0;
    padding: 0;
}

/*------------------------------------------Header-------------------------------*/

header{
    display: grid;
    grid-template-columns: repeat(6, auto);
    background-color: rgb(192, 124, 255);
    
}

.TitleName{
    grid-column: 2;
}


.icones{
display: flex;
flex-direction: row;
gap: 50px;
grid-column: 6 ;
margin-top: auto;
}

#searchbar{
    height: 50px;
    grid-column: 3/5;
}


                                                        /*Footer*/
                                                    
.FooterLeft{
    flex-direction: column;
    justify-content: center;
}

.FootContainer{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 10%;
}

.FooterLeft p{
  padding-top: 10px;
}



.droit{
	display: flex;
    justify-content: center;
      padding-top: 10px;

}
