*{
    margin: 0;
    padding: 0;
}

/*------------------------------------------Header-------------------------------*/

header{
    display: grid;
    grid-template-columns: repeat(6, auto);
    background-color: rgb(192, 124, 255);
    
}

.TitleName{
    grid-column: 2;
}


.icones{
display: flex;
flex-direction: row;
gap: 50px;
grid-column: 6 ;
margin-top: 10px;
}

#img_connexion{
    height: 30px;
    width: 30px;
}

.img_texte_connexion{
    font-size: 0.7rem;
}

#searchbar{
    height: 50px;
    grid-column: 3/5;
    border-radius: 5px;
}

#BlackLine{
    background-color: black;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#TypeOfSport{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    margin-top: 10px;
}

#BonPlan{
    color: red;
}

a{
    text-decoration: none;
}



/*------------------------------------------Body-------------------------------*/
.moments    {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin: 50px;
    color:rgb(89, 146, 127);
    font-size: 35px;
}

.offres{
    display: flex;
    justify-content: center;
    scale: 0.9;
    
}

#haltere{
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 379px;
    height: 350px;
    border-radius: 2%;
}

#Sport_raquette{
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 379px;
    height: 350px;
    padding-left: 75px;
    padding-right: 75px;
    border-radius: 2%;
}

#velo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 379px;
    height: 350px;
    border-radius: 2%;

}

.promo{
    display: flex;
    position: absolute;
}

.promo p{
    background-color: rgb(166, 149, 182);
    font-size: 40px;
    font-style: bold;
    border-radius: 5%;
    margin-top: 15px;
}

.promo1{
    margin-left: -285px;

}

.promo2{
    margin-left: 320px;
}

.promo3{
    margin-left: 320px;
}


.prix{
    display: flex;
    position: absolute;
}
.prix p{
    background-color: rgb(149, 182, 160);
    font-size: 40px;
    font-style: bold;
    border-radius: 5%;
    margin-top: 280px;
}

.prix1{
    margin-left: -350px;

}

.prix2{
    margin-left: 400px;
}

.prix3{
    margin-left: 380px;
}



.description1{
    display: flex;
    position: absolute;
    margin-left: -850px;
    background-color: rgb(195, 184, 206);
    font-size: 25px;
    font-style: bold;
    border-radius: 3%;
    margin-top: 320px;

}

.description2{
    display: flex;
    position: absolute;
    margin-left: 60px;
    background-color: rgb(195, 184, 206);
    font-size: 25px;
    font-style: bold;
    border-radius: 3%;
    margin-top: 320px;
}

.description3{
    display: flex;
    position: absolute;
    margin-left: 1000px;
    background-color: rgb(195, 184, 206);
    font-size: 25px;
    font-style: bold;
    border-radius: 3%;
    margin-top: 320px;
}

.barre{
    width: 90%;
    margin:0 auto;
    background-color: blueviolet;
    height: 5px;
    z-index: 1;
    margin-top: 90px;
    border-radius: 20%;

}

h2{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-top: 50px;
    color:rgb(89, 146, 127);
    font-size: 35px;
}


.escalade{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 0.8;
    margin-top: -50px;

}

h3{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-top: -50px;
    color:rgb(89, 146, 127);
    font-size: 35px;
}

.best{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 60px;
    scale: 0.7;
}


#nakamura{
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 379px;
    height: 350px;
    border-radius: 2%;
}
#snow{
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 379px;
    height: 350px;
    border-radius: 2%;
}
#ski{
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 379px;
    height: 350px;
    border-radius: 2%;
}
#panier{
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 379px;
    height: 350px;
    border-radius: 2%;
}

.best p{
    display: flex;
    justify-content: center;
    font-size: 40px;
    border-radius: 2%;
    background-color: rgb(140, 140, 182);
}

.best article{
    display: flex;
    justify-content: center;
    font-size: 40px;
    border-radius: 2%;
    background-color: rgb(159, 182, 140);

}
/*------------------------------------------Footer-------------------------------*/
                                                    
.FooterLeft{
    flex-direction: column;
    justify-content: center;
}

.FootContainer{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 10%;
}

.FooterLeft p{
  padding-top: 10px;
}



.droit{
	display: flex;
    justify-content: center;
      padding-top: 10px;

}


/*-------------------------------Catalogue -----------------------------*/
#AllProduct {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne */
    justify-content: space-between; /* Espacement équitable entre les éléments */
    gap: 20px; /* Espacement entre les colonnes */
}

#NameProduct {
    border: solid black 1px;
    width: calc(33.33% - 20px); /* Largeur pour trois colonnes avec espacement */
    box-sizing: border-box; /* Inclus la bordure dans la largeur spécifiée */
    margin-bottom: 20px; /* Espacement vertical entre les produits */
}

#NameProduct a {
    text-decoration: none;
    color: black;
}


